@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

.loading-container p {
  margin-top: 16px;
  font-weight: bold;
}

.response {
  max-width: 100%;
  overflow-x: auto;
}

.response h2 {
  margin-bottom: 1rem;
}

.response-line {
  margin-bottom: 0.5rem;
  line-height: 1.5;
}

/* styles.css or your preferred location */
.code-block {
  background-color: #1f1f1f;
  padding: 1rem;
  border-radius: 4px;
  overflow-x: auto;
  margin: 30px 5px;
}

.code-line {
  white-space: pre-wrap;
}

.function-keyword {
  color: #007acc;
  font-weight: bold;
}

.keyword {
  color: #d73a49; /* Adjust the color according to your preference */
  font-weight: bold;
}

.wallet-adapter-button, .wallet-adapter-button-trigger{
  background-color:unset !important;
  border: 1px solid green !important;

}

.wallet-adapter-button:hover, .wallet-adapter-button-trigger:hover {
  background-color: rgb(37, 37, 37) !important;
}

.code-editor {
  font-family: "Fira Code", monospace;
  font-size: 14px;
  line-height: 1.5;
  color: #f8f8f2;
  background-color: #1b1d25;
  border: 1px solid transparent;
  border-image: linear-gradient(to right, #44f79d, #0c7eff);
  border-image-slice: 1;
  border-radius: 5px;
}

.code-editor:focus-within {
  border-color: #ff79c6;
}

.code-editor::selection {
  background-color: #6272a4;
}

.code-editor::-moz-selection {
  background-color: #6272a4;
}

.code-editor .keyword {
  color: #ff79c6;
}

.code-editor .string {
  color: #50fa7b;
}

.code-editor .comment {
  color: #6272a4;
}

.code-editor ::-webkit-scrollbar {
  width: 6px;
  background-color: #1b1d25;
}

.code-editor ::-webkit-scrollbar-thumb {
  background-color: #6272a4;
  border-radius: 10px;
}

.code-editor ::-webkit-scrollbar-thumb:hover {
  background-color: #ff79c6;
}

.hacker-style p {
  animation: hacker-type 2s steps(20) infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #50fa7b;
}

@keyframes hacker-type {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


